.container {
  width: 500px;
  height: 500px;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.select {
  cursor: pointer;
  position: relative;
  width: 280px;
  border: 1px solid #363636;
  border-radius: 5px;
  background-color: #242424;
}

.selectActive {
  border: 1px solid green !important;
  border-radius: 5px !important;
}

.selectButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 8px 15px;
}

.selectDropdown {
  cursor: pointer;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 4px;
  width: 100%;
  border: 1px solid #363636;
  border-radius: 5px;
  background-color: #242424;
}

.selectList {
  padding: 5px;
}

.selectOption {
  padding: 6px 8px;
}

.selectOptionActive {
  padding: 6px 8px;
  background-color: #363636;
  border: 1px solid #363636;
  border-radius: 5px;
}
